<main class="payment">
  <h1>All Payment</h1>
  <div class="request-money-table">
    <table>
      <thead>
        <tr>
          <th>Request ID</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>123</td>
          <td>2023-05-02</td>
          <td>$500</td>
          <td>Pending</td>
          <td>
            <button class='btn-approve'>Approve</button>
            <button class='btn-delete'>Reject</button>
          </td>
        </tr>
        <tr>
          <td>124</td>
          <td>2023-04-30</td>
          <td>$1000</td>
          <td>Approved</td>
          <td>
            <!-- <button>Pay</button> -->
          </td>
        </tr>
        <tr>
          <td>125</td>
          <td>2023-04-28</td>
          <td>$250</td>
          <td>Rejected</td>
          <td></td>
        </tr>
        <tr>
          <td>126</td>
          <td>2023-04-25</td>
          <td>$750</td>
          <td>Pending</td>
          <td>
            <button class='btn-approve'>Approve</button>
            <button class='btn-delete'>Reject</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>