<div class="users-container">
  <h1>User Management</h1>
  <div class="users">
    <div class="user">
      <img th:src="@{../../static/images/default-user.jpeg}" alt="User Avatar">
      <a href="@{/profile}">
        <h2 class='username'>Jane Doe</h2>
      </a>
      <p class='email'>Email: jane.doe@example.com</p>
      <p class='role'>Role: Administrator</p>
      <button class='btn-edit'>Edit</button>
      <button class='btn-delete'>Delete</button>
    </div>
    <div class="user">
      <img th:src="@{../../static/images/default-user.jpeg}" alt="User Avatar">
      <a href="@{/profile}">
        <h2 class='username'>John Smith</h2>
      </a>
      <p class='email'>Email: john.smith@example.com</p>
      <p class='role'>Role: User</p>
      <button class='btn btn-edit'>Edit</button>
      <button class='btn btn-delete'>Delete</button>
    </div>
    <div class="user">
      <img th:src="@{../../static/images/default-user.jpeg}" alt="User Avatar">
      <a href="@{/profile}">
        <h2 class='username'>Sarah Johnson</h2>
      </a>
      <p class='email'>Email: sarah.johnson@example.com</p>
      <p class='role'>Role: User</p>
      <button class='btn btn-edit'>Edit</button>
      <button class='btn btn-delete'>Delete</button>
    </div>
    <div class="user">
      <img th:src="@{../../static/images/default-user.jpeg}" alt="User Avatar">
      <a href="@{/profile}">
        <h2 class='username'>Sarah Johnson</h2>
      </a>
      <p class='email'>Email: sarah.johnson@example.com</p>
      <p class='role'>Role: User</p>
      <button class='btn btn-edit'>Edit</button>
      <button class='btn btn-delete'>Delete</button>
    </div>
    <div class="user">
      <img th:src="@{../../static/images/default-user.jpeg}" alt="User Avatar">
      <a href="@{/profile}">
        <h2 class='username'>Sarah Johnson</h2>
      </a>
      <p class='email'>Email: sarah.johnson@example.com</p>
      <p class='role'>Role: User</p>
      <button class='btn btn-edit'>Edit</button>
      <button class='btn btn-delete'>Delete</button>
    </div>
    <div class="user">
      <img th:src="@{../../static/images/default-user.jpeg}" alt="User Avatar">
      <a href="@{/profile}">
        <h2 class='username'>Sarah Johnson</h2>
      </a>
      <p class='email'>Email: sarah.johnson@example.com</p>
      <p class='role'>Role: User</p>
      <button class='btn btn-edit'>Edit</button>
      <button class='btn btn-delete'>Delete</button>
    </div>
    <div class="user">
      <img th:src="@{../../static/images/default-user.jpeg}" alt="User Avatar">
      <a href="@{/profile}">
        <h2 class='username'>Sarah Johnson</h2>
      </a>
      <p class='email'>Email: sarah.johnson@example.com</p>
      <p class='role'>Role: User</p>
      <button class='btn btn-edit'>Edit</button>
      <button class='btn btn-delete'>Delete</button>
    </div>
    <div class="user">
      <img th:src="@{../../static/images/default-user.jpeg}" alt="User Avatar">
      <a href="@{/profile}">
        <h2 class='username'>Sarah Johnson</h2>
      </a>
      <p class='email'>Email: sarah.johnson@example.com</p>
      <p class='role'>Role: User</p>
      <button class='btn btn-edit'>Edit</button>
      <button class='btn btn-delete'>Delete</button>
    </div>
    <div class="user">
      <img th:src="@{../../static/images/default-user.jpeg}" alt="User Avatar">
      <a href="@{/profile}">
        <h2 class='username'>Sarah Johnson</h2>
      </a>
      <p class='email'>Email: sarah.johnson@example.com</p>
      <p class='role'>Role: User</p>
      <button class='btn btn-edit'>Edit</button>
      <button class='btn btn-delete'>Delete</button>
    </div>
    <div class="user">
      <img th:src="@{../../static/images/default-user.jpeg}" alt="User Avatar">
      <a href="@{/profile}">
        <h2 class='username'>Sarah Johnson</h2>
      </a>
      <p class='email'>Email: sarah.johnson@example.com</p>
      <p class='role'>Role: User</p>
      <button class='btn btn-edit'>Edit</button>
      <button class='btn btn-delete'>Delete</button>
    </div>
    <div class="user">
      <img th:src="@{../../static/images/default-user.jpeg}" alt="User Avatar">
      <a href="@{/profile}">
        <h2 class='username'>Sarah Johnson</h2>
      </a>
      <p class='email'>Email: sarah.johnson@example.com</p>
      <p class='role'>Role: User</p>
      <button class='btn btn-edit'>Edit</button>
      <button class='btn btn-delete'>Delete</button>
    </div>
    <div class="user">
      <img th:src="@{../../static/images/default-user.jpeg}" alt="User Avatar">
      <a href="@{/profile}">
        <h2 class='username'>Sarah Johnson</h2>
      </a>
      <p class='email'>Email: sarah.johnson@example.com</p>
      <p class='role'>Role: User</p>
      <button class='btn btn-edit'>Edit</button>
      <button class='btn btn-delete'>Delete</button>
    </div>
  </div>
</div>