<div class="users">
  <h1>User Management</h1>
  <div class="user-table">
    <form>
      <select id="role" name="role">
        <option value="all">All</option>
        <option value="user">User</option>
        <option value="admin">Admin</option>
        <option value="enterprise">Enterprise</option>
      </select>

      <input type="submit" value="Filter">
    </form>

    <div class='table-wrap'>
      <table>
        <thead>
          <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><a href="./detail">John Smith</a></td>
            <td>john@example.com</td>
            <td>Admin</td>
          </tr>
          <tr>
            <td>2</td>
            <td><a href="./detail">Jane Doe</a></td>
            <td>jane@example.com</td>
            <td>Enterprise</td>
          </tr>
          <tr>
            <td>3</td>
            <td><a href="./detail">Bob Johnson</a></td>
            <td>bob@example.com</td>
            <td>User</td>
          </tr>
          <tr>
            <td>4</td>
            <td><a href="./detail">Lisa Brown</a></td>
            <td>lisa@example.com</td>
            <td>User</td>
          </tr>
          <tr>
            <td>5</td>
            <td><a href="./detail">Tom Lee</a></td>
            <td>tom@example.com</td>
            <td>User</td>
          </tr>
          <tr>
            <td>6</td>
            <td><a href="./detail">Sarah Lee</a></td>
            <td>sarah@example.com</td>
            <td>User</td>
          </tr>
        </tbody>
      </table>
      <button class="add-user-btn">Add New User</button>
    </div>
  </div>
</div>