<main class="withdraw-money">
  <h1>Withdrawal Form</h1>
  <form>
    <div class="form-group">
      <label for="name">Account Holder Name</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="account-number">Account Number</label>
      <input type="text" id="account-number" name="account-number" required>
    </div>
    <div class="form-group">
      <label for="routing-number">Routing Number</label>
      <input type="text" id="routing-number" name="routing-number" required>
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <div class="input-group amount-group">
        <input type="text" id="amount" name="amount" required>
        <span class="currency">USD</span>
      </div>
    </div>
    <button class='withdraw-money-submit' type="submit">Submit Withdrawal</button>
  </form>
</main>