<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${data.title}"></title>
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <th:block th:if="${data.cssLibrary}">
        <th:block th:each="css : ${data.cssLibrary}">
            <link rel="stylesheet" type="text/css" th:href="${css}" />
        </th:block>
    </th:block>

    <th:block th:if="${data.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/} + ${data.css}" />
    </th:block>
</head>

<body>
    <th:block th:replace="fragments/header"></th:block>

    <div class='main-container'>
        <!-- Navbar -->
        <div class="nav-container">
            <th:block th:if="${role}">
                <div th:text="${role}"></div>
                <nav th:switch="${role}">
                    <div th:case="admin">
                        <div th:replace="fragments/admin-navbar"></div>
                    </div>
                    <div th:case="enterprise">
                        <div th:replace="fragments/enterprise-navbar"></div>
                    </div>
                    <div th:case="user">
                        <div th:replace="fragments/user-navbar"></div>
                    </div>
                </nav>
            </th:block>
            <th:block th:unless="${role}">
                <div th:replace="fragments/user-navbar"></div>
            </th:block>
        </div>

        <!-- Main -->
        <div class="view-page">
            <th:block th:replace="${data.view}"></th:block>
        </div>
    </div>

    <th:block th:if="${data.jsLibrary}">
        <th:block th:each="js : ${data.jsLibrary}">
            <script th:src="${js}"></script>
        </th:block>
    </th:block>
    <script src="/js/main.js"></script>
    <script src="/js/header.js"></script>
    <th:block th:if="${data.js}">
        <script th:src="@{/js/} + ${data.js}"></script>
    </th:block>
</body>

</html>