.dashboard {
  background-color: var(--surface);
  border-radius: 15px;
  padding: 10px 20px;
  min-height: 870px;
}

.dashboard h1 {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 2.4rem;
}

.dashboard .input-container {
  width: 100%;
  margin-bottom: 1.2rem;
}

.dashboard label {
  color: #273144;
  font: 1.6rem/2rem bold;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.dashboard .input-field {
  border-radius: 4px;
  width: 100%;
  outline: none;
  border: 1px solid var(--border);
  height: 3rem;
  background-color: var(--background);
}

.dashboard .input-field:hover {
  border: 1px solid var(--border-hover);
}

.dashboard input {
  height: 100%;
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: 4px;
  outline: none;
  color: var(--primary-text);
  border: none;
  font: 1rem/2rem bold;
}

.dashboard .button-group {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.dashboard button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--primary-background);
  border: none;
  color: var(--surface);
}

.dashboard button:hover {
  background: var(--primary-background-hover);
}
