.statistics {
  background-color: var(--surface);
  border-radius: 15px;
  padding: 10px 20px;
  min-height: 870px;
  width: 100%;
}

.chart-container {
  /* max-width: 800px; */
}

#lineChart {
  margin-top: 4rem;
  background: var(--info-background);
  padding: 20px;
  border-radius: 10px;
}

canvas {
  width: 100%;
  height: auto;
}
