<div class="nav-container" th:fragment="admin-navbar">
  <nav>
    <div>
      <a th:href="@{/}">
        <h1>Shorten Link</h1>
      </a>
      <a th:href="@{/}"><i class="fa-solid fa-house"></i>Home</a>
      <a th:href="@{/my-urls}"><i class="fa-solid fa-link"></i>My URLs</a>
      <a th:href="@{/statistics}"><i class="fa-solid fa-chart-simple"></i>Statistics</a>
    </div>
    <div>
      <a th:href="@{/profile}" style="padding-inline: 0">
        <img class="user-avatar-header" th:src="@{/images/default-user.jpeg}" alt="User Avatar" />
        <span class="username-header"></span>
      </a>
      <a th:href="@{/signout}"><i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a>
    </div>
  </nav>
</div>