header {
  display: none;
  background-color: var(--surface);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-weight: bold;
  font-size: 24px;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-toggle:focus {
  outline: none;
}

.nav-container {
  width: 300px;
  align-self: stretch;
  position: sticky;
  display: flex;
  height: 100vh;
}

.nav-container li {
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  justify-content: start !important;
}

.nav-active {
  background-color: var(--primary-background);
}

nav {
  position: fixed;
  height: 100%;
  width: 300px;
  padding: 20px;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

nav div {
  width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 28px;
}

nav a {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

nav a i {
  margin-right: 10px;
  font-size: 18px;
}

nav a:not([href='/profile']):not([href='/signOut']):not([href='/']):hover {
  background-color: var(--background-hover);
  border-radius: 10px;
}

.user-avatar-header {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

a[href='/signOut'] {
  background-color: var(--error-color);
  color: #fff;
}

a[href='/signOut']:hover {
  background-color: rgb(243, 120, 120);
}

@media (max-width: 1200px) {
  header {
    display: block;
  }

  .nav-container {
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }

  .nav-container.show {
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }

  .menu-toggle {
    display: block;
  }
}
