header {
  padding: 30px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background) !important;
}

.home-page {
  background-color: var(--background) !important;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-weight: bold;
  font-size: 2rem;
}

.login-btn {
  text-transform: uppercase;
  background-color: var(--button-background);
  color: var(--surface);
  padding: 10px;
}

.login-btn:hover {
  background-color: var(--button-background-hover);
  
}

section {
  padding: 40px 10%;
  display: flex;
  flex-wrap: wrap;
}

.form {
  width: 360px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  /* background: #fff; */
  border-radius: 2px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

.form-label,
.form-message {
  text-align: left;
  margin-bottom: 8px;
  font-size: 20px;
  text-transform: capitalize;
}

.form-group-btn {
  flex-direction: row;
  justify-content: flex-end;
}

.cancel-btn {
  background-color: var(--surface);
  border: 1px solid var(--background);
}

.create-btn {
  color: var(--surface);
  margin-left: 0.5rem;
}

.form-link {
  display: block;
  padding-left: 20%;
  padding-right: 20%;
  background-color: var(--surface);
}

.form-link form {
  display: flex;
}

.form-link form input {
  flex: 1;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  border: 1px solid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.our-stats-container {
  padding-left: 15%;
  padding-right: 15%;
  justify-content: center;
  align-items: center;
  background-color: var(--background) !important;
}

.our-stats {
  flex: 1 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1rem;
}

.our-stats_value {
  font-size: 5rem;
  font-weight: 600;
}

.our-stats_caption {
  font-size: 0.75rem;
  margin-top: 10%;
  text-transform: uppercase;
}

.our-stats_text {
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.brands {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.brands h2 {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 3% 0 4%;
  width: 75%;
  justify-content: center;
  gap: 1rem;
}

li {
  height: max(64px, min(6.25vw, 120px));
  margin: 1.2% 2%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

img {
  height: 100%;
  width: 100%;
}

.brands-text {
  line-height: 2rem;
  color: #463737;
  text-align: center;
}

.final {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background) !important;
}

.final-heading {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.final-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.final-info button {
  border: none;
  border-radius: 0;
  background-color: var(--button-background);
  color: var(--surface);
  text-transform: uppercase;
  font-size: 2rem;
}

.final-info button:hover {
  background-color: var(--button-background-hover);
}

.final-text {
  font-size: 1.3em;
  margin-top: 4%;
}

footer {
  background-color: black;
  color: rgba(255, 255, 255, 0.6);
  padding: 40px 10%;
  display: flex;
  font-size: 0.8rem;
}

.copyright {
  flex: 1;
}
