<div class="dashboard">
    <h1>Create new</h1>
    <p th:if="${data.data}" th:text="'http://localhost:8080/s/'+${data.data}"></p>

    <form method="post" th:action="@{/dashboard}" th:object="${link}">
        <div class="input-container">
            <label for="title">Title(optional)</label>
            <div class="input-field">
                <input type="text" id="title" name="title" autocomplete="off">
            </div>
        </div>

        <div class="input-container">
            <label for="defaultLink">Destination</label>
            <div class="input-field">
                <input type="text" id="url" name="url" placeholder="https://www.my_urls.com" autocomplete="off">
            </div>
        </div>

        <div class=" button-group">
            <button>Create</button>
        </div>
    </form>
</div>