<div class="nav-container">
    <nav>
        <div>
            <a href="@{/}">
                <h1>Shorten Link</h1>
            </a>

            <a class="nav-item" href='@{/payment}'>
                <i class="fa-solid fa-credit-card"></i>
                Payment
            </a>

            <a class="nav-item" href='@{/urls}'>
                <i class="fa-sharp fa-solid fa-link-simple"></i>
                Urls
            </a>
        </div>

        <div class='sidebar-item'>
            <a href="@{/profile}" style="padding-inline: 0">
                <img class="user-avatar-header" th:src="@{/images/default-user.jpeg}" alt="User Avatar" />
                <span class="username-header"></span>
            </a>
            <div style="display: flex; justify-content: space-between">
                <a style="flex: 1; width: auto" href="@{/signup}">Đăng ký</a>
                <a style="flex: 1; width: auto" href="@{/login}">Đăng nhập</a>
            </div>

            <a href="@{/signOut}"><i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a>
        </div>
    </nav>
</div>