.urls {
  background-color: var(--surface);
  border-radius: 15px;
  padding: 10px 20px;
  min-height: 870px;
}

.urls h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;

  table-layout: fixed;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: var(--primary-background);
  color: var(--surface);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button + button {
  margin-left: 10px;
}

.url {
  width: 20%;
}

.url-title {
  width: 50%;
}

.url-clicks {
  width: 10%;
}

.url-create-at {
  width: 10%;
}
