.users {
  background-color: var(--surface);
  border-radius: 15px;
  padding: 10px 20px;
  min-height: 870px;
  width: 100%;
}

.users h1 {
  text-align: center;
  margin-top: 50px;
}

.user-table {
  border: 1px solid #ccc;
  padding: 10px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--background);
}

.table-wrap {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th:first-child,
td:first-child {
  text-align: center;
}

th {
  background-color: var(--primary-background);
  color: var(--surface);
}

.action {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.add-user-btn {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0062cc;
}

/* Style the selected option */
select option:checked {
  background-color: #007bff;
  color: white;
}
