table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #ddd;
}

td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  max-width: 100px;
}

.link {
  max-width: 100px;
}

th {
  background-color: var(--primary-background);
  color: #fff;
  text-align: center;
}

th:first-child, td:first-child {
  width: 10%;
  text-align: center;
}

th:last-child {
  width: 15%;
}

tr td:last-child {
  text-align: right;
  width: 15%;
}

tr:nth-child(even) {
  background-color: bisque;
}
