@import "https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap";

:root {
  --button-background: #333;
  --button-background-hover: #555;
  --success-color: #008a05;
  --success-background: #e0ffe1;
  --warning-color: #ffae00;
  --warning-background: #fff1cf;
  --error-color: #f54748;
  --error-background: #fcebeb;
  --info-color: #1cadff;
  --info-background: #eaf7ff;
  --primary-text: #333;
  --secondary-text: #949494;
  --link-text: #006cff;
  --border: #ddd;
  --border-hover: #c3cbdc;
  --border-active: #1cadff;
  --background: #f7f5f1;
  --background-hover: #ccc;
  --primary-background: #2a5bd7;
  --primary-background-hover: #0c3ebb;
  --surface: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen, Open Sans, Helvetica Neue;
}

body {
  font-size: 16px;
  color: var(--primary-text);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen, Open Sans, Helvetica Neue;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* width: 100vw; */
}

.other {
  flex: 1;
}

.main-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
}

.nav-container {
  width: 300px;
  align-self: stretch;
  position: sticky;
  display: flex;
  height: 100vh;
}

.view-page {
  flex: 1;
  padding: 2% 5%;
  min-height: 100%;
  background-color: var(--background);
}

input:focus {
  outline: 1px solid var(--info-color);
  border: 1px solid var(--info-color) !important;
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

.title-wrapper {
  margin-bottom: 2.4rem;
}

.container {
  padding: 2.4rem 2.8rem;
  width: 100%;
  align-self: center;
}

.col-half {
  flex: 1;
}

button {
  min-width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--primary-background);
  font-size: 1rem;
  color: var(--primary-text);
  font-weight: 600;
}

button:hover {
  background: var(--primary-background-hover);
  color: var(--surface);
}

input:hover {
  border-color: var(--border-hover);
}

:active {
  border-color: var(--border-active);
}

b,
strong {
  font-weight: bold;
}

.btn-delete {
  background-color: var(--error-color);
}

.btn-delete:hover {
  background-color: #f81e1e;
}

.btn-approve {
  background-color: #4caf50;
}

.btn-approve:hover {
  background-color: #3e8e41;
}
