/* table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  max-width: 100px;
}

.link {
  max-width: 100px;
}

.default-link {
  max-width: 150px;
}

th {
  background-color: var(--primary-background);
  color: #fff;
  text-align: center;
}

/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

section {
  margin-bottom: 30px;
}

section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;

  justify-content: space-between;
}

li:last-child {
  margin-bottom: 0;
}

li div {
  /* flex: 1; */
  display: flex;

  align-items: center;
  justify-content: flex-start;
}

/* URL styles */
.url {
  /* width: calc(100%/3); */
  /* flex-grow: 1; */
  flex: 2;
}

.url a {
  color: #337ab7;
  max-width: 10em;
}

.url a:hover {
  text-decoration: underline;
}

.title {
  flex: 2;
}

.title p {
  max-width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.stats {
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stats p {
  margin: 0;
}
