<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main.html">


<head th:replace="layouts/main :: head"></head>

<body th:replace="layouts/main :: body">
	<div th:replace="~{layouts/main :: main(~{::content})}">
		<div class="title-wrapper">
			<h1>Amount</h1>
		</div>

		<section>
			<div class="filter">
				<label for="start-date">Start Date:</label>
				<input type="date" id="start-date" name="start-date">
				<label for="end-date">End Date:</label>
				<input type="date" id="end-date" name="end-date">
				<button type="submit">Filter</button>
			</div>
			<table>
				<thead>
					<tr>
						<th>Date</th>
						<th>Product</th>
						<th>Commission Rate</th>
						<th>Earnings</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2023-03-01</td>
						<td>Product A</td>
						<td>10%</td>
						<td>$50.00</td>
					</tr>
					<tr>
						<td>2023-03-05</td>
						<td>Product B</td>
						<td>15%</td>
						<td>$75.00</td>
					</tr>
					<tr>
						<td>2023-03-10</td>
						<td>Product C</td>
						<td>12%</td>
						<td>$60.00</td>
					</tr>
					<tr>
						<td>2023-03-15</td>
						<td>Product D</td>
						<td>8%</td>
						<td>$40.00</td>
					</tr>
					<tr>
						<td>2023-03-20</td>
						<td>Product E</td>
						<td>20%</td>
						<td>$100.00</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">Total Earnings:</td>
						<td>$325.00</td>
					</tr>
				</tfoot>
			</table>
		</section>
	</div>
</body>

</html>