<section>
  <div class="content">
    <form action="">
      <div class="form-group">
        <label class='form-label' for="destination">Destination</label>
        <input id='destination' type="text" name='destination' placeholder='https://www.my_urls.com'>
      </div>

      <div class="form-group">
        <label class='form-label' for="title">Title</label>
        <input id='title' type="text" name='title'>
      </div>

      <div class="form-group-btn form-group">
        <button class="cancel-btn btn">Cancel</button>
        <button class='create-btn btn'>Create</button>
      </div>
    </form>
  </div>
</section>

<section class='our-stats-container'>
  <div class="our-stats">
    <div class="our-stats_value">20m</div>
    <div class="our-stats_caption">REDIRECTS PER DAY</div>
  </div>
  <div class="our-stats">
    <img th:src="@{/images/circle-animtion.svg}" alt="">
    <div class="our-stats_value">5300k</div>
    <div class="our-stats_caption">customers</div>
  </div>
  <div class="our-stats">
    <p class="our-stats_text">
      <strong>We process 20,000,000 redirects per day for 200,000 happy customers. </strong>"It’s our goal to
      provide reliable service allowing businesses to focus on their priorities."
    </p>
  </div>
</section>
