<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main.html">


<head th:replace="layouts/main :: head"></head>

<body th:replace="layouts/main :: body">

  <div class="container" layout:fragment="content">
    <div class="title-wrapper">
      <h1>My Urls</h1>
    </div>

    <section>
      <ul>
        <li>
          <div class="url">
            <a href="http://example.com/abc">http://example.com/abc</a>
          </div>
          <div class="title">
            <p>Title: My URL TitleTitleTitleTitleTitleTitleTitleTitleTitleTitleTitleTitle</p>
          </div>
          <div class="stats">
            <p>Clicks: 10</p>
            <p>Created: 2023-03-01</p>
          </div>
        </li>
        <li>
          <div class="url">
            <a href="http://example.com/abc">http://example.com/abc</a>
          </div>
          <div class="title">
            <p>Title: My URL Title</p>
          </div>
          <div class="stats">
            <p>Clicks: 10</p>
            <p>Created: 2023-03-01</p>
          </div>
        </li>
        <li>
          <div class="url">
            <a href="http://example.com/abc">http://example.com/abc</a>
          </div>
          <div class="title">
            <p>Title: My URL Title</p>
          </div>
          <div class="stats">
            <p>Clicks: 10</p>
            <p>Created: 2023-03-01</p>
          </div>
        </li>
        <li>
          <div class="url">
            <a href="http://example.com/abc">http://example.com/abc</a>
          </div>
          <div class="title">
            <p>Title: My URL Title</p>
          </div>
          <div class="stats">
            <p>Clicks: 10</p>
            <p>Created: 2023-03-01</p>
          </div>
        </li>
        <li>
          <div class="url">
            <a href="http://example.com/abc">http://example.com/abc</a>
          </div>
          <div class="title">
            <p>Title: My URL Title</p>
          </div>
          <div class="stats">
            <p>Clicks: 10</p>
            <p>Created: 2023-03-01</p>
          </div>
        </li>
        <li>
          <div class="url">
            <a href="http://example.com/abc">http://example.com/abc</a>
          </div>
          <div class="title">
            <p>Title: My URL Title</p>
          </div>
          <div class="stats">
            <p>Clicks: 10</p>
            <p>Created: 2023-03-01</p>
          </div>
        </li>
        <li>
          <div class="url">
            <a href="http://example.com/abc">http://example.com/abc</a>
          </div>
          <div class="title">
            <p>Title: My URL Title</p>
          </div>
          <div class="stats">
            <p>Clicks: 10</p>
            <p>Created: 2023-03-01</p>
          </div>
        </li>
      </ul>
    </section>
  </div>
</body>

</html>