<div class="payment">
  <h1>All Payment</h1>
  <div class="request-payment-table">
    <table>
      <thead>
        <tr>
          <th>Request ID</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/payemnt/detail">123</a></td>
          <td>2023-05-02</td>
          <td>$500</td>
          <td class='pending'>Pending</td>
        </tr>
        <tr>
          <td><a href="/payemnt/detail">124</a></td>
          <td>2023-04-30</td>
          <td>$1000</td>
          <td class='approve'>Approved</td>
        </tr>
        <tr>
          <td><a href="/payemnt/detail">125</a></td>
          <td>2023-04-28</td>
          <td>$250</td>
          <td class='reject'>Rejected</td>
        </tr>
        <tr>
          <td><a href="/payemnt/detail">126</a></td>
          <td>2023-04-25</td>
          <td>$750</td>
          <td class='pending'>Pending</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>