<div class='user-detail'>

  <div class="user-avatar">
    <img
      src="https://images.unsplash.com/photo-1608889825205-eebdb9fc5806?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="avatar" class="img-circle" />

  </div>
  <h1>Alex</h1>

  <div class="user-info">
    <ul>
      <li>
        <div class='info-detail'><span class='info-detail-tile'>Ngày sinh</span><span>01/02/0220</span></div>
      </li>
      <li>
        <div class='info-detail'><span class='info-detail-tile'>Ngày sinh</span><span>01/02/0220</span></div>
      </li>
      <li>
        <div class='info-detail'><span class='info-detail-tile'>Ngày sinh</span><span>01/02/0220</span></div>
      </li>
      <li>
        <div class='info-detail'><span class='info-detail-tile'>Ngày sinh</span><span>01/02/0220</span></div>
      </li>
      <li>
        <div class='info-detail'><span class='info-detail-tile'>Ngày sinh</span><span>01/02/0220</span></div>
      </li>
    </ul>
  </div>


</div>