.user-detail {
  background-color: var(--surface);
  border-radius: 15px;
  padding: 10px 20px;
  min-height: 870px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.user-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.user-avatar h1 {
  align-self: center;
}

.img-circle {
  object-fit: fill;
  width: 100%;
}

.user-info {
  align-self: flex-start;
  padding: 50px;
  width: 100%;
}

.user-info li {
  list-style-type: none;
  font-size: 20px;
  width: 100%;
}

.user-info li:nth-child(even) {
  background-color: var(--background);
}

.user-info .info-detail {
  display: flex;
  gap: 20px;
}

.user-info .info-detail-tile {
  font-weight: 600;
}