<div class="urls">
  <div class="title-wrapper">
    <h1>My Urls</h1>
  </div>

  <section>
    <table>
      <tr>
        <th class='url'>URL</th>
        <th class='url-title'>Title</th>
        <th class='url-clicks'>Clicks</th>
        <th class='url-create-at'>Created</th>
      </tr>
      <tr>
        <td class='url'><a href="http://example.com/abc">http://example.com/abc</a></td>
        <td class='url-title'>My URL TitleTitleTitleTitleTitleTitleTitleTitleTitleTitleTitleTitle</td>
        <td class='url-clicks'>10</td>
        <td class='url-create-at'>2023-03-01</td>
      </tr>
      <tr>
        <td class='url'><a href="http://example.com/abc">http://example.com/abc</a></td>
        <td class='url-title'>My URL Title</td>
        <td class='url-clicks'>10</td>
        <td class='url-create-at'>2023-03-01</td>
      </tr>
      <tr>
        <td class='url'><a href="http://example.com/abc">http://example.com/abc</a></td>
        <td class='url-title'>My URL Title</td>
        <td class='url-clicks'>10</td>
        <td class='url-create-at'>2023-03-01</td>
      </tr>
      <tr>
        <td class='url'><a href="http://example.com/abc">http://example.com/abc</a></td>
        <td class='url-title'>My URL Title</td>
        <td class='url-clicks'>10</td>
        <td class='url-create-at'>2023-03-01</td>
      </tr>
      <tr>
        <td class='url'><a href="http://example.com/abc">http://example.com/abc</a></td>
        <td class='url-title'>My URL Title</td>
        <td class='url-clicks'>10</td>
        <td class='url-create-at'>2023-03-01</td>
      </tr>
      <tr>
        <td class='url'><a href="http://example.com/abc">http://example.com/abc</a></td>
        <td class='url-title'>My URL Title</td>
        <td class='url-clicks'>10</td>
        <td class='url-create-at'>2023-03-01</td>
      </tr>
      <tr>
        <td class='url'><a href="http://example.com/abc">http://example.com/abc</a></td>
        <td class='url-title'>My URL Title</td>
        <td class='url-clicks'>10</td>
        <td class='url-create-at'>2023-03-01</td>
      </tr>
    </table>
  </section>
</div>