<div class="urls">
  <div class="title-wrapper">
    <h1>Urls</h1>
  </div>

  <section>
    <ul>
      <li>
        <div class="url">
          <a href="http://example.com/abc">http://example.com/abc</a>
        </div>
        <div class="title">
          <p>Title: My URL TitleTitleTitleTitleTitleTitleTitleTitleTitleTitleTitleTitle</p>
        </div>
        <div class="stats">
          <p>Clicks: 10</p>
          <p>Created: 2023-03-01</p>
        </div>
      </li>
      <li>
        <div class="url">
          <a href="http://example.com/abc">http://example.com/abc</a>
        </div>
        <div class="title">
          <p>Title: My URL Title</p>
        </div>
        <div class="stats">
          <p>Clicks: 10</p>
          <p>Created: 2023-03-01</p>
        </div>
      </li>
      <li>
        <div class="url">
          <a href="http://example.com/abc">http://example.com/abc</a>
        </div>
        <div class="title">
          <p>Title: My URL Title</p>
        </div>
        <div class="stats">
          <p>Clicks: 10</p>
          <p>Created: 2023-03-01</p>
        </div>
      </li>
      <li>
        <div class="url">
          <a href="http://example.com/abc">http://example.com/abc</a>
        </div>
        <div class="title">
          <p>Title: My URL Title</p>
        </div>
        <div class="stats">
          <p>Clicks: 10</p>
          <p>Created: 2023-03-01</p>
        </div>
      </li>
      <li>
        <div class="url">
          <a href="http://example.com/abc">http://example.com/abc</a>
        </div>
        <div class="title">
          <p>Title: My URL Title</p>
        </div>
        <div class="stats">
          <p>Clicks: 10</p>
          <p>Created: 2023-03-01</p>
        </div>
      </li>
      <li>
        <div class="url">
          <a href="http://example.com/abc">http://example.com/abc</a>
        </div>
        <div class="title">
          <p>Title: My URL Title</p>
        </div>
        <div class="stats">
          <p>Clicks: 10</p>
          <p>Created: 2023-03-01</p>
        </div>
      </li>
      <li>
        <div class="url">
          <a href="http://example.com/abc">http://example.com/abc</a>
        </div>
        <div class="title">
          <p>Title: My URL Title</p>
        </div>
        <div class="stats">
          <p>Clicks: 10</p>
          <p>Created: 2023-03-01</p>
        </div>
      </li>
    </ul>
  </section>
</div>